stages:
  - package
  - deploy

package:macos:
  stage: package
  tags:
    - macos
  script:
    - cd packaging/
    - make mac-app
    - mv macos/SpinVis.dmg ../
  artifacts:
    name: "SpinVis_${CI_COMMIT_TAG}"
    paths:
      - ./SpinVis.dmg
  only:
    - tags@Scientific-IT-Systems/spinvis

deploy-to-github:
  stage: deploy
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/deploy
  variables:
    GIT_STRATEGY: none
  only:
  - master@Scientific-IT-Systems/spinvis
  - develop@Scientific-IT-Systems/spinvis
  - tags@Scientific-IT-Systems/spinvis
  script:
  - mkdir --mode=700 ~/.ssh/
  - (umask 0377 && echo "${GITHUB_DEPLOY_KEY}" > ~/.ssh/id_rsa
                && echo "github.com ${GITHUB_HOST_KEY}" >> ~/.ssh/known_hosts)
  - git clone --mirror "${CI_REPOSITORY_URL}" "${CI_PROJECT_NAME}_mirror"
  - cd "${CI_PROJECT_NAME}_mirror";
    git push --mirror "git@github.com:sciapp/${CI_PROJECT_NAME}.git";
    cd ..

deploy-to-pypi:
  stage: deploy
  image: python:3-slim
  only:
  - tags@Scientific-IT-Systems/spinvis
  script:
  - pip install twine
  - echo "[distutils]"                    > ~/.pypirc;
    echo "index-servers ="               >> ~/.pypirc;
    echo "    pypi"                      >> ~/.pypirc;
    echo "[pypi]"                        >> ~/.pypirc;
    echo "username = __token__"          >> ~/.pypirc;
    echo "password = ${PYPI_DEPLOY_KEY}" >> ~/.pypirc;
  - python setup.py sdist
  - python setup.py bdist_wheel
  - twine upload dist/*
